@model NexusCorpFilmReviews.Models.Gossip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gossip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GossipContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GossipContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GossipContentDateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GossipContentDateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GossipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
