@model IEnumerable<NexusCorpFilmReviews.Models.Actor>

@{
    ViewBag.Title = "Index";
}
<div class="card">
    <div class="card-header">
        <h2>Actor</h2>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorGender)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorGender)
            </td>
            <td>
                @Html.ActionLink("Comment", "Index", "ActorComments") |
                @Html.ActionLink("Edit", "Edit", new { id = item.ActorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ActorId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ActorId })
            </td>
        </tr>
    }

</table>
