@model IEnumerable<NexusCorpFilmReviews.Models.Film>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Actor.ActorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director.DirectorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.GenreType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <li>
        <a href="~/Film/Details/@item.FilmId">@item.FilmName</a>

        @if (item.Rating > 8)
        {
            <text>Film Recommended!</text>
        }
    </li>        
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.ActorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director.DirectorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FilmId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FilmId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FilmId })
            </td>
        </tr>
    }

</table>
