@model NexusCorpFilmReviews.Models.ActorComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActorComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActorCommentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorCommentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorCommentDateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorCommentDateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActorCommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
