@model IEnumerable<NexusCorpFilmReviews.Models.ActorComment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@* create a link to redirect to the create index*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* outlines the table attributes for the display *@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Actor.ActorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorCommentContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorCommentDateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @* for every item within the model  *@
    @foreach (var item in Model)
    {
        @*display the details fom the database*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.ActorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorCommentContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorCommentDateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @*theses are the links that redirect to the different view pages for edit, details and delete*@
                @Html.ActionLink("Edit", "Edit", new { id = item.ActorCommentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ActorCommentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ActorCommentId })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Actor Page", "Index", "Actors")
</div>
