@model NexusCorpFilmReviews.Models.DirectorComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DirectorComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DirectorCommentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorCommentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorCommentDateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorCommentDateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DirectorCommentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
