@model IEnumerable<NexusCorpFilmReviews.Models.DirectorComment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Director.DirectorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorCommentContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorCommentDateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Director.DirectorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectorCommentContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectorCommentDateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DirectorCommentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DirectorCommentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DirectorCommentId })
        </td>
    </tr>
}

</table>
